# numpy 
# torchvision_nightly
# -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html


https://download.pytorch.org/whl/cpu/torch-1.0.0-cp36-cp36m-linux_x86_64.whl
#pip3 install https://download.pytorch.org/whl/cpu/torch-1.0.0-cp36-cp36m-win_amd64.whl
fastai
zerorpc

#try using pip3 install -r requirements.txt --no-deps if getting  "python setup.py egg_info"  error

